@model List<Entity.Concrete.Product>
@{
    ViewBag.Title = "Məhsullar";
}
<style>
    body {
        background-color: #071e22;
        color: white;
    }

    h1, h3, span {
        color: white;
    }

    .product-item {
        border-radius: 10px;
    }
</style>


<br />

<!-- Mirrored from demo.hasthemes.com/juan-preview-v1/juan/shop.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Mar 2021 22:37:07 GMT -->
<link rel="shortcut icon" href="~/juan/assets/img/favicon.ico" type="image/x-icon" />
<!--=== All Plugins CSS ===-->
<link href="~/juan/assets/css/plugins.css" rel="stylesheet">
<!--=== All Vendor CSS ===-->
<link href="~/juan/assets/css/vendor.css" rel="stylesheet">
<!--=== Main Style CSS ===-->
<link href="~/juan/assets/css/style.css" rel="stylesheet">
<!-- Modernizer JS -->
<script src="~/juan/assets/js/modernizr-2.8.3.min.js"></script>
<style>
    body {
        background-color: #071e22;
        color: white;
    }

    h1, h3, span, a, h4 {
        color: white;
    }
</style>
<!-- Start Header Area -->
<!-- end Header Area -->
<!-- off-canvas menu start -->
<!-- main wrapper start -->
<br />
<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area bg-img" data-bg="~/juan/~/juan/assets/img/banner/breadcrumb-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">Məhsullar</h1>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- page main wrapper start -->
    <div class="shop-main-wrapper section-padding">
        <div class="container">
            <div class="row">
                <!-- sidebar area start -->
                @await Component.InvokeAsync("CategoryComponent")

                <!-- sidebar area end -->
                <!-- shop main wrapper start -->
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="shop-product-wrapper">
                        <!-- shop product top wrap start -->
                        <div class="shop-top-bar">
                            <div class="row">
                                <div class="col-xl-5 col-lg-4 col-md-3 order-2 order-md-1">
                                    <div class="top-bar-left">
                                        <div class="product-view-mode">
                                            <a class="active" href="#" data-target="grid-view"><i class="fa fa-th"></i></a>
                                            <a href="#" data-target="list-view"><i class="fa fa-list"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <h4 style="font-weight:100">@ViewBag.Category.Name</h4>
                        <br />
                        <h6 style="font-family: Arial, Helvetica,sans-serif !important;color:gray; font-weight:100 ">@ViewBag.Category.Information</h6>
                        <br />

                        <!-- shop product top wrap start -->
                        <!-- product item list start -->
                        <div class="shop-product-wrap grid-view row mbn-50">
                            @foreach (var item in Model)
                            {
                                <div class="col-lg-4 col-sm-6">
                                    <!-- product grid item start -->
                                    <div class="product-item mb-53">
                                        <div class="product-thumb">
                                            <a asp-controller="product" asp-action="productdetail" asp-route-id="@item.Id">
                                                <img src="~/Images/Product/@item.PhotoUrl" alt="" style="Object-fit: cover; width:350px; height:218.75px">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <h5 class="product-name" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="@item.Name">
                                                <a style="color:white" asp-controller="product" asp-action="productdetail" asp-route-id="@item.Id">@item.Name</a>
                                            </h5>
                                        </div>
                                    </div>
                                    <!-- product grid item end -->
                                    <!-- product list item start -->
                                    <div class="product-list-item mb-30">
                                        <div class="product-thumb">
                                            <a asp-controller="product" asp-action="productdetail" asp-route-id="@item.Id">
                                                <img src="~/Images/Product/@item.PhotoUrl" alt="product thumb" style="Object-fit: cover; width:350px; height:218.75px">
                                            </a>
                                        </div>
                                        <div class="product-content-list">
                                            <h5 style="color:white" class="product-name" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="@item.Name">
                                                <a style="color:white" asp-controller="product" asp-action="productdetail" asp-route-id="@item.Id">@item.Name</a>
                                            </h5>
                                            <p>
                                                @item.Description
                                            </p>
                                        </div>
                                    </div>
                                    <!-- product list item start -->
                                </div>
                            }
                        </div>
                        <!-- product item list end -->
                        <!-- start pagination area -->
                        @*<div class="paginatoin-area text-center mt-45">
                            <ul class="pagination-box">
                                <li><a class="Previous" href="#"><i class="ion-ios-arrow-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a class="Next" href="#"><i class="ion-ios-arrow-right"></i></a></li>
                            </ul>
                        </div>*@
                        <!-- end pagination area -->
                    </div>
                </div>
                <!-- shop main wrapper end -->
            </div>
        </div>
    </div>
    <!-- page main wrapper end -->
</main>
<!-- main wrapper end -->
<!-- Quick view modal start -->
<!-- Quick view modal end -->
<!-- Start Footer Area Wrapper -->
<!-- End Footer Area Wrapper -->
<!-- offcanvas search form start -->
<!-- Scroll to Top End -->
<!--=======================Javascript============================-->
<!--=== All Vendor Js ===-->
<script src="~/juan/assets/js/vendor.js"></script>
<!--=== All Plugins Js ===-->
<script src="~/juan/assets/js/plugins.js"></script>
<!--=== Active Js ===-->
<script src="~/juan/assets/js/active.js"></script>
